@model EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="container">

    @Html.HiddenFor(x=>x.MessageID)
    <br />
    @Html.Label("Gönderen")
    @Html.TextBoxFor(x=>x.Name, new {@class = "form-control text-white"})
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x=>x.Date, new {@class = "form-control text-white"})
    <br />
    @Html.Label("Gönderen Mail")
    @Html.TextBoxFor(x=>x.Mail, new {@class = "form-control text-white"})
    <br />
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x=>x.Content,10,3, new {@class = "form-control text-white"})
    <br />
    <a href="/Contact/Index/" class="btn btn-success"><i class="mdi mdi-arrow-left"></i> Geri Dön</a>
</div>

